@using phone_book.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Client>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@*TODO: довести до ума локализацию*@

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("admin"))
    {
        <table class="users-table">
            <caption>
                <h2 class="users-main-header">
                    Таблица клиентов
                </h2>
            </caption>
            <tr>
                <th class="users-table-header-text">
                    ID
                </th>
                <th class="users-table-header-text">
                    <a asp-action="Index" asp-route-sortOrder="@ViewBag.LastNameSort">
                        Фамилия
                    </a>
                </th>
                <th class="users-table-header-text">
                    <a asp-action="Index" asp-route-sortOrder="@ViewBag.FirstNameSort">
                        Имя
                    </a>
                </th>
                <th class="users-table-header-text">
                    <a asp-action="Index" asp-route-sortOrder="@ViewBag.PatronymicSort">
                        Отчество
                    </a>
                </th>
                <th class="users-table-header-text">
                    Действия
                </th>
            </tr>
            <tbody>
                @foreach (Client client in Model)
                {
                    <tr>
                        <td class="users-table-body-text">
                            <a asp-controller="Client" asp-action="Get" asp-route-id=@client.Id class="users-table-body-link">
                                @client.Id
                            </a>
                        </td>
                        <td class="users-table-body-text">
                            @client.LastName
                        </td>
                        <td class="users-table-body-text">
                            @client.FirstName
                        </td>
                        <td class="users-table-body-text">
                            @client.Patronymic
                        </td>
                        <td class="users-table-body-text">
                            <a asp-controller="Client" asp-action="Update" asp-route-id=@client.Id class="users-table-body-link">
                                Редактировать,
                            </a>
                            <a asp-controller="Client" asp-action="Delete" asp-route-id=@client.Id class="users-table-body-link">
                                Удалить
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else if (User.IsInRole("user"))
    {
        <table class="users-table">
            <caption>
                <h2 class="users-main-header">
                    Таблица клиентов
                </h2>
            </caption>
            <tr>
                <th class="users-table-header-text">
                    ID
                </th>
                <th class="users-table-header-text">
                    <a asp-action="Index" asp-route-sortOrder="@ViewBag.LastNameSort">
                        Фамилия
                    </a>
                </th>
                <th class="users-table-header-text">
                    <a asp-action="Index" asp-route-sortOrder="@ViewBag.FirstNameSort">
                        Имя
                    </a>
                </th>
                <th class="users-table-header-text">
                    <a asp-action="Index" asp-route-sortOrder="@ViewBag.PatronymicSort">
                        Отчество
                    </a>
                </th>
            </tr>
            <tbody>
                @foreach (Client client in Model)
                {
                    <tr>
                        <td class="users-table-body-text">
                            <a asp-controller="Client" asp-action="Get" asp-route-id=@client.Id class="users-table-body-link">
                                @client.Id
                            </a>
                        </td>
                        <td class="users-table-body-text">
                            @client.LastName
                        </td>
                        <td class="users-table-body-text">
                            @client.FirstName
                        </td>
                        <td class="users-table-body-text">
                            @client.Patronymic
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
else
{
    <table class="users-table">
        <caption>
            <h2 class="users-main-header">
                Таблица клиентов
            </h2>
        </caption>
        <tr>
            <th class="users-table-header-text">
                ID
            </th>
            <th class="users-table-header-text">
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.LastNameSort">
                    Фамилия
                </a>
            </th>
            <th class="users-table-header-text">
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.FirstNameSort">
                    Имя
                </a>
            </th>
            <th class="users-table-header-text">
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.PatronymicSort">
                    Отчество
                </a>
            </th>
        </tr>
        <tbody>
            @foreach (Client client in Model)
            {
                <tr>
                    <td class="users-table-body-text">
                        <a asp-controller="Client" asp-action="Get" asp-route-id=@client.Id class="users-table-body-link">
                            @client.Id
                        </a>
                    </td>
                    <td class="users-table-body-text">
                        @client.LastName
                    </td>
                    <td class="users-table-body-text">
                        @client.FirstName
                    </td>
                    <td class="users-table-body-text">
                        @client.Patronymic
                    </td>
                </tr>
            }
        </tbody>
    </table>
}